body {
    font-family: 'Work Sans', sans-serif;
    color:#5C411A
    
}

/*--------------------------------------------------Navbar----------*/
nav a img {
    width: 50px;
    height: 50px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/*--------------------------------------------------Main Section----------*/

#hero-image {
    background: url("../images/hero.png") no-repeat center center fixed;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}


#intro-text {
    text-align: center;
    color: #5C411A;
    padding-top: 90px;
}

h1 {
    letter-spacing: 3px;
    font-size: 90px;
    animation-name: late-start;
    animation-duration: 5s;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

h1 span {
    
    font-size: 80px;
    animation-name: late-start-1;
    animation-duration: 8s;
    
}

#intro-text p {
    background-color: #5C411A;
    color: #F18E04;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

  @keyframes late-start {
    0%{
      opacity:0;
      }
    30% {
      opacity:0;
    }
    100% {
      opacity:1;
  }

  }

@keyframes late-start-1 {
    0%{
      opacity:0;
      }
    40% {
      opacity:0;
    }
    100% {
      opacity:1;
}

}

/*--------------------------------------------------About----------*/
.container-about{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-around;
    max-width: 100%;
    flex-direction: row;
}
}

.about-img {
    width: 350px;
    height: auto;
}

.about-intro {
    width: 350px;
    height: auto;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#5C411A;
    font-weight: 300;
}

/*--------------------------------------------------Volunteer----------*/
.container-volunteer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: row;
    text-align: center;
}

.volunteer-testimony{
    width: 350px;
    height: auto;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.75);
    border-radius: 8px;
    margin-right: 30px;
    margin-left: 30px;

}

.volunteer-testimony img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.volunteer-testimony h3{
    font-weight: 300;
    padding-top: 20px;
}

.volunteer-testimony p {
    text-align: justify;
    margin: 0 auto;
    font-size: 14px;
    width: 70%;
    padding-bottom: 20px;
}

.push-down {
    transform: translateY(20%);
}

/*-----------------------------   id="carouselExampleCaptions" class="carousel slide"              ---------------------Carousel----------*/

.fun-facts {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}
.carousel-inner {
    border-radius: 8px;
}

#carouselExampleCaptions {
    max-width: 1140px;
    margin: 0 auto;
}

#carouselExampleCaptions p {
    font-size: 30px;
    width: 300px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Signika', sans-serif;

}

#carouselExampleCaptions p span {
    color: #f1b604;
}

.carousel-caption {
    top: 20px;
    left: 20px;
    z-index: 1;
}
